.wrapper

 = render 'shared/side'

 .main
  .header
   .header__group
    %h2.group__name
     = @group.name
    %ul.header__menbers
     Menber:
     %li.menber A
   %li.header__btn
    = link_to edit_group_path(current_user) do
     = fa_icon 'edit', class: 'btn'

  .messages
   = render @messages


  .form
   = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__btn
     = f.label :image, class: 'form__btn__image' do
      = fa_icon 'picture-o', class: 'icon'
      = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'